name: Build and Install MedSegEvaluator

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install minimal dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        pip install numpy pandas opencv-python matplotlib

    - name: Build the package
      run: |
        python setup.py sdist bdist_wheel

    - name: Test install
      run: |
        pip install dist/*.whl
